@charset "utf-8";

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  padding: 4px 8px;
}

textarea {
  box-sizing: border-box;
  width: 100%;
}

pre {
  box-sizing: border-box;
  overflow: scroll;
  width: 100%;
}
